.box {
    height: 100%;
    width: 100%;    
}
.map{
    margin:0%;
    width: 100%;
    background-color: darkslategray;
}
.weather_container{
    margin:0%;
    width: 100%;
    background-color: burlywood;
}