.root {
    width: 100%; 
    min-height: 200px; 
    padding-left: 15% 
}
.city_resume {
    padding: 10px 0px 10px 0px
}
.weather_info_container {
    width: 90%; 
    display: flex ;
    align-content: center
}
.temperature_resume{
    min-Width: 120px; 
    display: flex; 
    align-items: center;
}